:root {
    --color-base: #2a9d8f;
    --color-light: #FFFFFF;
    --color-dark: #666666;
    /* analogous colors are soft and blend together well  */
    --color-analogous: #264653;
    /* tetradic colors contrast from each other*/
    --color-base-compliment: #f4a261;
    --color-tetradic: #e76f51;
    --color-tetradic-compliment: #e9c46a;
}

body {
    margin: auto;
    background-color: var(--color-base);
}

header {
    color: var(--color-base-compliment);
    background: var(--color-analogous); 
    height: auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

main {
    height: 100%;
    width: 80%;
    background-color: var(--color-base);
    padding-top: 50px;
    padding-bottom: 100%;
}

div {
    font-size: 25px;
    color: var(--color-light);
    text-align: center;
}

footer {
    font-size: 25px;
    margin-bottom: 20px;
}

#website-details {
    font-size: 30px;
    margin-bottom: 50px;
}
#website-note {
    font-size: 20px;
    margin-top: 50px;
}

input {
    color: var(--color-light);
    background-color: var(--color-dark);
    text-align: center;
    font-size: 40px;
    width: 97.5%;
    height: 60px;
    margin: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

select, #currency-left, #currency-right {
    color: var(--color-light);
    background-color: var(--color-dark);
    font-size: 25px;
    height: 75px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    font-size: 60px;
    text-align: center;
    font-family: 'Barlow', sans-serif;
}

#search-bar {
    background-color: var(--color-analogous);
    margin-bottom: 0px;
    justify-content: space-around;
    width: 80%;
    border: 5px ridge lightgrey;
    border-style: ridge;
    border-radius: 30px;
    padding: 35px;
}

.flex-cntr.col {
    flex-direction: column;
}

.flex-cntr {
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-left, #search-left {
    max-width: 400px;
}

#search-bar-left, #search-bar-right {
    height: auto;
    width: 45%;
    max-width: 350px;
    min-width: 250px;
}

#currency-left, #currency-right, #search-left, #search-right {
    width: 100%;
}

div#conversion-rate {
    width: 90%;
    overflow-wrap: break-word;
    margin-top: 45px;
}

#search-input {
    justify-content: space-between;
}

@media screen and (max-width: 820px) {
    body {
        min-width: 300px;
    }
    main {
        min-width: 375px;
    }
    #search-input {
        flex-direction: column;
        justify-content: space-around;
        width: 80%;
        padding: 35px 5px 35px 5px;
        min-width: 260px;
    }

}